In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# Heres an example of what a JSON (JavaScript Object Notation) looks like:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [3]:
#Let import json module
import json

#Lets load json data
data = json.loads(json_obj)

In [4]:
#Show
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [5]:
#WE can also convert back to JSON
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [6]:
#We can simply open JSON data after loading with a DataFrame
dframe = DataFrame(data['diet'])

In [7]:
#Show
dframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown

In [8]:
# Theres lost of custom selection you can do, based on what you do or dont want in your DataFrame (you can specify columns..etc)

In [9]:
#Next up, XML and HTML file format with python!